

/* SCSS HEX */
$portage: #8b7dec;
$mine-shaft: #202020;
$ebb: #f0eded;
$boulder: #767676;
$tundora: #4a4646;
$silver-chalice: #a3a3a3;
$mexican-red: #9c2334;

html,
body,
#root {
    height: 100%;
    background-color: #202020;
    /* Match your app background */
    margin: 0;
    padding: 0;

    .main-container {
        padding: 20px;
    }
}